
.holder {
	width:500px;
	margin: 0 auto;
}

.main {
	padding: 5%;
	background-color: #5F9EA0;
	margin-left: 10%;
	margin-right: 10%;
}

.login {
	width: 15%;
}

.onSameLine {
	display: inline;
}

.title {
	font: sans-serif;
}